<% if @tweets1.present? %>
  <h2>トレンド</h2>
  <ul>
    <% @tweets1.each_with_index do |tweet1, i| %>
    <div class="list">
      <li> <%= tweet1.name %> </li>
    </div>
    <% end %>
  </ul>
<% end %>
