body {
  text-align:center;
}

#container {
  width:100%;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  background-color: #1b2233
}

#header {
  width:100%;
  background-color: #151721
}

#logo {
  float: left;
}

#wrapper {
  width:100%;
  float:left;
}

#boxA {
  width:20%;
  float:left;
  background-color: #151721
}

#boxB {
  width:40%;
  float:left;
  background-color: #cccccc
}

#boxC {
  width:40%;
  float:left;
  background-color: #1b2233
}

a {
  color: #99ccff
}

ul {
  list-style: none;
  margin: 0px;
  padding: 10px;
}

ul {
  list-style: none;
}

#texit_white {
  color: #ffffff
}

.texit_white {
  color: #ffffff
}

#footer {
  width:100%;
  clear:left;
  background-color: #1b2233
}

.urge_logo {
  width: 60px;
  height: 60px;
  margin-left: 0px;
  margin-right: px;
}

.topic-index-icon {
  width: 20px;
  height: 18px;
  margin-left: 5px;
  margin-right: 5px;
}

.header_logo:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0.1px;
  font-size: 0.1em;
  line-height: 0;
  clear: both;
}
